.feature-comparison-table {
  display: table;
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 63.9375rem) {
  .feature-comparison-table {
    padding: 0 var(--spacing-default);
    width: 95%;
  }
}

@media only screen and (min-width: 83.6875rem) {
  .feature-comparison-table {
    width: 100%;
  }
}

.feature-comparison-table th {
  text-align: left;
  width: calc(100% / 3);
}

.feature-comparison-table .icon-check::before {
  background-color: var(--color-teal-50);
}

.feature-comparison-table .icon-cross::before {
  background-color: var(--color-red-50);
}
