.product-highlight {
  padding: var(--spacing-wide) var(--spacing-medium);
}

.product-highlight.dark {
  background-color: var(--color-neutral-90);
  color: var(--color-neutral-inverted);
}

.product-highlight img {
  border: 0.7rem solid var(--color-teal-50);
  height: auto;
}

.product-highlight-content {
  margin: 0 auto;
  max-width: 40rem;
  max-width: 70ch;
}

@media only screen and (min-width: 47.9375rem) {
  .product-highlight {
    margin-top: var(--section-top-margin);
    text-align: center;
  }
}

.product-highlight .button-secondary-filled {
  justify-content: center;
}

@media only screen and (min-width: 47.9375rem) {
  .product-highlight .button-secondary-filled {
    margin: 0 auto;
    max-width: max-content;
  }
}

.product-highlight .button-secondary-filled.with-icon::before {
  background-color: var(--color-teal-90);
}
