.founder-bio-card {
  background-color: var(--color-teal-10);
  border: 1px solid var(--color-teal-90);
  border-radius: var(--border-radius-default);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 35rem;
  min-height: 100%;
  padding: var(--spacing-default);
  text-align: center;
}

.founder-bio {
  margin-top: var(--spacing-medium);
}

.founder-bio-card img {
  border: 0.5rem solid var(--color-teal-50);
  border-radius: var(--border-radius-circle);
  height: 140px;
  margin: var(--spacing-narrow) auto;
  width: 140px;
}

.founder-bio-card .button {
  margin: 0 auto;
  max-width: max-content;
}

.founder-bio-card .icon-linkedin::before,
.founder-bio-card .icon-github::before,
.founder-bio-card .icon-x::before {
  background-color: var(--color-teal-90);
}

.founder-bio-card-links {
  display: flex;
  gap: var(--spacing-default);
  justify-content: center;
}

.founder-bio-card-content {
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (min-width: 63.9375rem) {
  .founder-bio-card-content {
    flex-direction: column;
    text-align: left;
  }
}
