.pricing-table.self-host {
  background-color: var(--color-teal-10);
  border: 0;
}

.pricing-table.self-host .pricing-heading {
  margin-bottom: 0;
}

.pricing-table.self-host thead .button {
  margin: var(--spacing-default) 0 0;
}

@media only screen and (min-width: 63.9375rem) {
  .pricing-table.self-host {
    margin-bottom: var(--spacing-wide);
  }
}

@media only screen and (min-width: 83.6875rem) {
  .pricing-table.self-host {
    margin: var(--spacing-wide) 0;
  }
}

.pricing-table.self-host caption,
.pricing-table.self-host .pricing-heading {
  color: var(--color-teal-80);
}

.pricing-table.self-host .button {
  background-color: var(--color-teal-60);
  border: 1px solid var(--color-teal-60);
}

.pricing-table.self-host caption {
  background-color: var(--color-teal-20);
  padding: var(--spacing-narrow) var(--spacing-default);
}

.pricing-table.self-host tbody tr:nth-child(odd) {
  background-color: var(--color-teal-05);
}
