.hero-section {
  background-color: var(--color-teal-05);
}

.hero {
  background-color: var(--color-teal-05);
  padding: var(--spacing-medium);
}

@media only screen and (min-width: 63.9375rem) {
  .hero {
    display: flex;
    gap: var(--spacing-default);
    min-height: 37rem;
    padding: var(--spacing-wide) var(--spacing-medium);
    padding-right: 0;
  }

  .content-container {
    flex: 1 1 60%;
  }

  .hero-image-container {
    flex: 1 1 40%;
    overflow: hidden;
    position: relative;
  }

  .hero-image-container picture {
    background: var(--linear-gradient-feature-image);
    border-radius: var(--border-radius-default);
    height: max-content;
    padding: var(--spacing-default);
    position: absolute;
    right: -2rem;
  }
}

@media only screen and (min-width: 83.6875rem) {
  .hero {
    min-height: 38rem;
    padding: var(--spacing-wide) var(--spacing-medium);
  }

  .content-container {
    align-self: center;
    flex: 1 1 50%;
  }

  .hero-image-container {
    display: flex;
    flex: 1 1 50%;
    justify-content: flex-end;
  }

  .hero-image-container picture {
    position: initial;
    right: unset;
  }
}

@media only screen and (min-width: 159.9375rem) {
  .girdle {
    margin: 0 auto;
  }
}

.hero-section-title {
  margin-bottom: var(--spacing-default);
}

.hero-image-container img {
  border-radius: var(--border-radius-default);
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 47.9375rem) {
  .hero-image-container img {
    display: none;
  }
}

@media only screen and (min-width: 63.9375rem) {
  .hero-image-container img {
    display: block;
    max-width: initial;
    width: 25rem;
  }
}

@media only screen and (min-width: 83.6875rem) {
  .hero-image-container img {
    width: 30rem;
  }
}

.hero .button-container {
  display: flex;
  gap: var(--spacing-default);
  justify-content: space-between;
  margin-bottom: var(--spacing-medium);
}

@media only screen and (min-width: 47.9375rem) {
  .hero .button-container {
    justify-content: initial;
  }
}

/* custom icon colors */
.hero .icon-code-slash::before {
  background-color: var(--color-teal-05);
}

.hero .icon-docs::before {
  background-color: var(--color-teal-05);
}

.hero .icon-github::before {
  background-color: var(--color-teal-90);
}

.hero .icon-laptop::before {
  background-color: var(--color-teal-90);
}

.hero .icon-person::before {
  background-color: var(--color-teal-05);
}

.hero .icon-youtube::before {
  background-color: var(--color-teal-90);
}
