name: Check broken links
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *' # Run every day at 08:00 UTC

jobs:
  broken-link-checker:
    name: Check broken links
    runs-on: ubuntu-latest
    steps:
      - name: Check
        uses: ruzickap/action-my-broken-link-checker@v2.7.0
        with:
          url: https://boxyhq.com
          cmd_params: '--max-connections=10 --timeout=60 --buffer-size=32768 --color=always --exclude="(localhost|127.0.0.1|twitter.com|linkedin.com|manage.auth0.com|schemas.xmlsoap.org|instagram.com|admin.google.com|https://segment.com|support.cloudflare.com|https://boxyhq.com/cdn-cgi/l/email-protection|microsoft.com|https://www.sonatype.com/state-of-the-software-supply-chain/open-source-supply-demand-security|http://datagrade.com|https://www.signalsciences.com|https://webstudio.is|https://blog.opensource.org|https://effortlesssolutions.fr|https://www.maxmind.com|https://www.wayra.com)" --skip-tls-verification --ignore-fragments --header="User-Agent:Chrome/108.0.0.0"'
      - name: Post to Slack
        if: ${{ failure() }}
        uses: slackapi/slack-github-action@v1.26.0
        with:
          # Slack channel id, channel name, or user id to post message.
          # See also: https://api.slack.com/methods/chat.postMessage#channels
          channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
          # For posting a simple plain text message
          slack-message: 'Found some broken links in action run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
